name: Run Python Manually

on:
  workflow_dispatch:   # هذا يجعل زر Run workflow يظهر

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Run your script
      run: python ./bot.py

